body {
  padding: 100px 0 0 0;
  background-color: #f4fcff !important;
}

#nav-bar a{
  font-weight: 500;
  color: #4b4b4b;
}

#nav-bar a:hover{
  text-decoration: none;
  color: #3BBED7;
}

#nav-bar a:focus{
  color: #3BBED7;
}

#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
  border-radius: 10px;
}

#card-title {
  font-weight: 600;
}

#card-img {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.button {
  margin: 0 15px 0 15px;
}

.button-icon {
  font-size: 30px;
}

.github {
  color: #4b4b4b;
}

.instagram {
  color: #ff6bb5;
}

.read-more {
  position: absolute;
  bottom: 0;
  right: 0;
}

.avatar {
  margin: 15px 0 0 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 6px solid #ffffff;
}

.avatar-blog {
  margin: 15px 0 0 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 6px solid #ffffff;
}

#logo {
  width: 140px;
}

.text-color {
  color: #3b3b3b;
}

.card-wall {
  border-radius: 0px !important;
}

.wall-img {
  height: 400px;
  width: 900px;
  object-fit: cover;
}

.wall-container {
  height: 100px;
}

.margin-head {
  margin-top: -100px;
}

.margin-wall {
  margin-top: 130px;
}

.border-wall {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.image-blog {
  width: 100%;
  object-fit: cover;
}

.blog-info {
  margin-top: 18px;
}

.blog-user-name {
  font-size: 15px;
}

.post-time {
  font-size: 12px;
}

.share {
  margin-top: 3px;
  width: 18px;
  height: 18px;
  fill: #ff3838;
}

.reaction {
  margin-top: 3px;
  width: 20px;
  height: 20px;
}

.border-tool {
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}

.input-post {
  margin-top: 6px;
  border-radius: 50px !important;
  background-color: #00000013 !important;
}

.input-post:focus {
  outline: none !important;
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.reaction-cal:hover {
  text-decoration: underline;
  cursor: pointer;
}

.smooth-text {
  font-weight: 500;
}

.smooth-text-1 {
  font-weight: 600;
}

.border-suggest-img {
  border-radius: 10px;
}

.scrollTop {
  position: fixed; 
  width: 40px;
  right: 90px;
  bottom: 40px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.img-lab02 {
  width: 100%;
}

.breadcrumb {
  background-color: #ffffff !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border-radius: 10px !important;
}

.timePost {
  display: flex;
}

.timePostChild {
  margin-right: 6px;
}

.snippet-code {
  border: 1px solid var(--black-100);
  border-radius: 5px;
  padding: 12px;
  background-color: #4b4b4b;
}

.avatar-topbar {
  width: 35px;
  border-radius: 50%;
}

#nav-bar a:hover {
  cursor: pointer;
}

.image-home {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.slide-header {
  top: -40px;
}

.image-card-home {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: .5s ease;
}

.image-card-home:hover {
  opacity: 0.5;
  transition: .5s ease;
}

.text-card-home {
  text-align: justify;
}

.card-title-home:hover {
  text-decoration: none;
}

.margin-bottom-card {
  margin-bottom: 50px;
}

pre {
  padding: 15px;
  color: #e4e4e4 !important; 
  background-color: #323441;
  white-space: pre; 
  text-shadow: 0 1px 0 #000;
  border-radius: 10px; 
  border-bottom: 1px solid #555;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset, 0 0 20px rgba(0,0,0,0.2) inset;
	font: 16px/24px 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.md-img img{
  width: 100%;
}

.md-text {
  text-align: justify ;
}

.md-table table, td, th{
  border-collapse: collapse;
  border: 2px solid rgb(197, 197, 197) !important;
}

.md-table th, td {
  padding-left: 10px;
  padding-right: 10px;
}

.md-body {
  max-width: 100%;
}