body {
  padding: 100px 0 0 0;
  background-color: #eefaff !important;
}

#nav-bar a{
  font-weight: 500;
  color: #4b4b4b;
}

#nav-bar a:hover{
  text-decoration: none;
  color: #3BBED7;
}

#nav-bar a:focus{
  color: #3BBED7;
}

#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
  border-radius: 10px;
}

#card-title {
  font-weight: 600;
}

#card-img {
  border-radius: 10px;
  height: 250px;
}

.button {
  margin: 0 15px 0 15px;
}

.button-icon {
  font-size: 30px;
}

.github {
  color: #4b4b4b;
}

.instagram {
  color: #ff6bb5;
}

.read-more {
  position: absolute;
  bottom: 0;
  right: 0;
}

.avatar {
  margin: 15px 0 0 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 6px solid #4b4b4b;
}

#logo {
  width: 250px;
}

.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}